*.swp
*.
EyeTrackerDemo
videos
wycena.txt
EVE
__pycache__
sample
.ipynb_checkpoints
segmentation_cache
.DS_Store
models/tinaface_r50_fpn_gn_dcn.pth
vedadet
BlazeFace-PyTorch
chessboards
my_chessboards
my_faces
eos
eve_data_collection
